* {
    margin: 0%;
    padding: 0%;

}

@media screen and (min-width: 993px) {
    #container {
        width: 993px;
        margin: auto;
    }

    #menu, #rodape {
        width: 993px;
        height: 300px;
        background-color: rebeccapurple;
    }

    #corpo {
        width: 993px;
        height: 700px;
    }

    #conteudo {
      width: 496px;
      height: 700px;
      float: left;
      background-color: darkorange;
    }

    #feeds {
        width: 497px;
        height: 700px;
        float: left;
        background-color: darkgreen;  
    }
}

@media screen and (max-width: 992px){
    #container {
        width: 950px;
        margin: auto;
    }

    #conteudo {
        display: none;
    }

    #menu, #rodape {
        width: 950px;
        height: 200px;
        background-color: yellow;  
    }

    #feeds {
        width: 950px;
        height: 600px;
        background-color: darkred;  
    }
}

@media screen and (max-width: 576px) {

    #container {
        width: 500px;
        margin: auto;
    }

    #conteudo, #rodape {
        display: none;
    }

    #menu {
        width: 576px;
     height: 200px;
        background-color: blue;
    }

    #feeds {
        width: 576px;
        height: 300px;
        background-color: brown;        
    }
}

    

    


